ClassifierTensorFlow/venv
ClassifierTensorFlow/src/__pycache__
__pycache__
ClassifierTensorFlow/.idea
ClassifierTensorFlow/.vscode
ClassifierTensorFlow/.idea
*.xcuserdatad/
PommeNews/Carthage
ClassifierTensorFlow/output
ClassifierTensorFlow/input
